body {
  min-height: 100vh;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.contactPix {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.contact-Form {
  color: whitesmoke;
  display: flex;
  width: 300px;
  height: 375px;
  border: 5px solid black;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10%;
}

.navFlex {
  display: flex;
  justify-content: space-between;
}

.Resume,
.Home {
  text-align: center;
}

.Resume .text-wrapper,
.Home .text-wrapper {
  padding: 20px;
  margin-top: 120px;
  display: inline-block;
  border: 10px solid whitesmoke;
  border-radius: 5px;
  background-color: rgba(2, 69, 130, 0.64);
  text-align: center;
}

.Resume .text-wrapper h1,
.Home .text-wrapper h1 {
  color: whitesmoke;
  display: inline-block;
  padding: 10px 20px;
}

.Resume .text-wrapper p,
.Home .text-wrapper p {
  color: whitesmoke;
  width: 400px;
  padding: 10px 20px;
  margin-left: auto;
  margin-right: auto;
  font-size: 18px;
  text-align: center;
}

.Resume video,
.Home video {
  object-fit: cover;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.footy {
  object-fit: cover;
  position: fixed;
  bottom: 0;
}

.footy a {
  color: white;
  text-decoration: none;
  font-size: 2.5rem;
}

.footy li {
  display: inline-grid;
  margin: 0 5px;
}

.footy li span {
  font-size: 2.5rem;
}

.bio-pic-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  font-size: 30px;
  padding: 5%;
  background-color: black;
  color: whitesmoke;
  border: 10px solid gray;
  border-radius: 5px;
}

.bioHeader {
  text-align: center;
  font-size: 50px;
  color: whitesmoke;
}
.iconGrowth {
  color: whitesmoke;
  font-size: 30px;
  text-shadow: 3px 3px 3px black;
  
 
}
.portfolio-header {
  text-align: center;
  font-size: 50px;
  color: whitesmoke;
  text-shadow: 3px 3px 3px black;
}
h3 {
  color:black;
  text-shadow: 1px 1px 1px white;
  
}

button {
  margin: 0 auto;
  display: block;

  background-color: black;
  color: white;
  font-size: 1.2rem;
  padding: 10px 50px;
  border-radius: 25px;
  border: 2px solid white;
  text-align: center;
  box-shadow: 0 0 10px black;
  transform: translateY(3px);
  transition: all 0.2s ease-in-out;
}

.proficient {
  color: whitesmoke;
  text-align: center;
  font-size: 30px;
  text-shadow: 3px 3px 3px black;

}

button:hover {
  background-color: white;
  color: black;
  box-shadow: 0 0 10px white;
  transform: scale(1.1);
  transition: all 0.2s ease-in-out;
}

button:active {
  background-color: #00bcd4;
  color: white;
  box-shadow: 0 0 10px #00bcd4;
  transform: scale(1.1);
  transition: all 0.2s ease-in-out;
}
.biopicture {
  width: 100%;
  height: 100vh;
  background-color: black;
  color: whitesmoke;
  text-align: center;
  font-size: 30px;
  padding: 5%;
  border: 10px solid gray;
  border-radius: 5px;
}

.card {
  width: 100%;
  height: 100vh;
  background-color: black;
  color: whitesmoke;
  text-align: center;
  font-size: 30px;
  padding: 5%;
  border: 10px solid gray;
  border-radius: 5px;
}

.card-header {
  font-size: 50px;
  color: whitesmoke;
  text-shadow: 3px 3px 3px black;
  text-align: center;
}

.card-body {
  font-size: 30px;
  color: whitesmoke;
  text-shadow: 3px 3px 3px black;
  text-align: center;
}

.bio-pic-container img {
  width: 300px;
  height: 300px;
  border: 3px solid gray;
  border-radius: 5px;
}

@media only screen and (max-width: 50px) {
  .bio-pic-container img {
    width: 200px;
    height: 200px;
  }
}
@media only screen and (max-width: 768px) {
  .bio-pic-container img {
    width: 150px;
    height: 150px;
  }
}

.navFlex {
  display: flex;
  justify-content: space-between;
}

.navFlex a {
  color: whitesmoke;
  font-size: 1.2rem;
  padding: 10px 50px;
  border-radius: 25px;
  border: 2px solid white;
  text-align: center;
  box-shadow: 0 0 10px black;
  transform: translateY(3px);
  transition: all 0.2s ease-in-out;
  text-decoration: none;
}

.navFlex a:hover {
  background-color: white;
  color: black;
  box-shadow: 0 0 10px white;
  transform: scale(1.1);
  transition: all 0.2s ease-in-out;
}

.navFlex a:active {
  background-color: #00bcd4;
  color: white;
  box-shadow: 0 0 10px #00bcd4;
  transform: scale(1.1);
  transition: all 0.2s ease-in-out;
}

.navFlex a:first-child {
  color: #00bcd4;
  font-size: 1.2rem;
  padding: 10px 50px;
  border-radius: 25px;
  border: 2px solid #00bcd4;
  text-align: center;
  box-shadow: 0 0 10px #00bcd4;
  transform: translateY(3px);
  transition: all 0.2s ease-in-out;
  text-decoration: none;
}

.navFlex a:first-child:hover {
  background-color: #00bcd4;
  color: white;
  box-shadow: 0 0 10px #00bcd4;
  transform: scale(1.1);
  transition: all 0.2s ease-in-out;
}

.navFlex a:first-child:active {
  background-color: white;
  color: black;
  box-shadow: 0 0 10px white;
  transform: scale(1.1);
  transition: all 0.2s ease-in-out;
}

.navFlex a:last-child {
  color: #00bcd4;
  font-size: 1.2rem;
  padding: 10px 50px;
  border-radius: 25px;
  border: 2px solid #00bcd4;
  text-align: center;
  box-shadow: 0 0 10px #00bcd4;
  transform: translateY(3px);
  transition: all 0.2s ease-in-out;
  text-decoration: none;
}

.navFlex a:last-child:hover {
  background-color: #00bcd4;
  color: white;
  box-shadow: 0 0 10px #00bcd4;
  transform: scale(1.1);
  transition: all 0.2s ease-in-out;
}

.navFlex a:last-child:active {
  background-color: white;
  color: black;
  box-shadow: 0 0 10px white;
  transform: scale(1.1);
  transition: all 0.2s ease-in-out;
}

.navFlex a:nth-child(2) {
  color: #00bcd4;
  font-size: 1.2rem;
  padding: 10px 50px;
  border-radius: 25px;
  border: 2px solid #00bcd4;
  text-align: center;
  box-shadow: 0 0 10px #00bcd4;
  transform: translateY(3px);
  transition: all 0.2s ease-in-out;
  text-decoration: none;
}

.navFlex a:nth-child(2):hover {
  background-color: #00bcd4;
  color: white;
  box-shadow: 0 0 10px #00bcd4;
  transform: scale(1.1);
  transition: all 0.2s ease-in-out;
}

.navFlex a:nth-child(2):active {
  background-color: white;
  color: black;
  box-shadow: 0 0 10px white;
  transform: scale(1.1);
  transition: all 0.2s ease-in-out;
}

.navFlex a:nth-child(3) {
  color: #00bcd4;
  font-size: 1.2rem;
  padding: 10px 50px;
  border-radius: 25px;
  border: 2px solid #00bcd4;
  text-align: center;
  box-shadow: 0 0 10px #00bcd4;
  transform: translateY(3px);
  transition: all 0.2s ease-in-out;
  text-decoration: none;
}

.navFlex a:nth-child(3):hover {
  background-color: #00bcd4;
  color: white;
  box-shadow: 0 0 10px #00bcd4;
  transform: scale(1.1);
  transition: all 0.2s ease-in-out;
}

.navFlex a:nth-child(3):active {
  background-color: white;
  color: black;
  box-shadow: 0 0 10px white;
  transform: scale(1.1);
  transition: all 0.2s ease-in-out;
}

.navFlex a:nth-child(4) {
  color: #00bcd4;
  font-size: 1.2rem;
  padding: 10px 50px;
  border-radius: 25px;
  border: 2px solid #00bcd4;
  text-align: center;
  box-shadow: 0 0 10px #00bcd4;
  transform: translateY(3px);
  transition: all 0.2s ease-in-out;
  text-decoration: none;
}

.navFlex a:nth-child(4):hover {
  background-color: #00bcd4;
  color: white;
  box-shadow: 0 0 10px #00bcd4;
  transform: scale(1.1);
  transition: all 0.2s ease-in-out;
}

.navFlex a:nth-child(4):active {
  background-color: white;
  color: black;
  box-shadow: 0 0 10px white;
  transform: scale(1.1);
  transition: all 0.2s ease-in-out;
}

.navFlex a:nth-child(5) {
  color: #00bcd4;
  font-size: 1.2rem;
  padding: 10px 50px;
  border-radius: 25px;
  border: 2px solid #00bcd4;
  text-align: center;
  box-shadow: 0 0 10px #00bcd4;
  transform: translateY(3px);
  transition: all 0.2s ease-in-out;
  text-decoration: none;
}

.navFlex a:nth-child(5):hover {
  background-color: #00bcd4;
  color: white;
  box-shadow: 0 0 10px #00bcd4;
  transform: scale(1.1);
  transition: all 0.2s ease-in-out;
}

.navFlex a:nth-child(5):active {
  background-color: white;
  color: black;
  box-shadow: 0 0 10px white;
  transform: scale(1.1);
  transition: all 0.2s ease-in-out;
}

.navFlex a:nth-child(6) {
  color: #00bcd4;
  font-size: 1.2rem;
  padding: 10px 50px;
  border-radius: 25px;
  border: 2px solid #00bcd4;
  text-align: center;
  box-shadow: 0 0 10px #00bcd4;
  transform: translateY(3px);
  transition: all 0.2s ease-in-out;
  text-decoration: none;
}
.navFlex a:nth-child(6):hover {
  background-color: #00bcd4;
  color: white;
  box-shadow: 0 0 10px #00bcd4;
  transform: scale(1.1);
  transition: all 0.2s ease-in-out;
}

.navFlex a:nth-child(6):active {
  background-color: white;
  color: black;
  box-shadow: 0 0 10px white;
  transform: scale(1.1);
  transition: all 0.2s ease-in-out;
}

